{% extends 'base.html' %}
{% block bodyBlock %}
    <table class="table table-bordered table-hover table-sm ">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Price in $</th>
            <th>Symbol</th>
        </tr>
        </thead>
                <tbody>
    {% for d in data %}
        <tr class =
                "{% if d.percent_change_24h.0 == "-" %}
{#                dot pachi ko 0 bhaneko zeroth index ko value bhanna khojeko ho #}
        text-danger
        {% else %}
        text-success
        {% endif %} "}>

       <td> {{d.rank}}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.price_usd }}</td>

        <td>{{ d.symbol }}</td>

       </tr>
    {% endfor %}

            </tbody>




    </table>






{% endblock bodyBlock %}