{% extends 'base.html' %}

{% block titleBlock%}
    Home | {{block.super}}
{%endblock titleBlock%}

{% block bodyBlock %}

    <marquee>This is Home page</marquee>

    <h1>This is home page</h1>

    <div class="con-8">
        <div class="post" >
            {% for f in obj %}
                <h3><a href="{% url 'detail' pk=f.pk %}" >{{f.title }}</a></h3>
                <small>{{ f.created_date }}</small>
                <p>{{ f.content }}</p>
            {% endfor %}
        </div>
    </div>

    {#    <div class="col-4" >#}
    {#    <h3>Latest post</h3>#}
    {#    <ul>#}
    {#        <li><a href="#">#}
    {#            Title </a>#}
    {#    </li>#}
    {#        <li><a href="#"> title1</a></li>#}
    {#<li><a href="#">title2</a></li>#}
    {#        </ul>#}
    {#    </div>#}
{% endblock %}